.git
.gitignore
.github

node_modules
npm-debug.log
yarn-error.log

vendor

.env
.env.backup
.env.production
.env.local

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*

bootstrap/cache/*
!bootstrap/cache/.gitignore

.DS_Store
Thumbs.db

.vscode
.idea
*.swp
*.swo
*~

.phpunit.result.cache
.phpactor.json
_ide_helper.php

README.md
CHANGELOG.md